#todo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#todo-list {
    margin-top: 1.5%;
    font-size: 1.4rem;
    max-height: 65%;
    overflow: auto;
}

/* 스크롤바 전체 */
#todo-list::-webkit-scrollbar {
    width: 18px;
}

/*스크롤 막대 */
#todo-list::-webkit-scrollbar-thumb {
    background-color: white; 
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 50px;
}

#todo-list li {
    padding: 2%;
}

#todo-list li > span {
    margin-right: 1%;
}

#todo-list li s {
    opacity: 0.5;
    font-weight: normal;
}

#todo-list .del {
    display: none;
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 1.5%;
}

#todo-list li:hover .del {
    display: inline;
}

#todo-add {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 3px solid;
    height: 20%;
    font-size: 1.5rem;
}

#todo-add input {
    width: 85%;
    height: 30%;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid white;
    color: white;
    opacity: 0.5;

    font-family: NanumSquareRound;
    font-weight: bold;
}

#todo-add input::placeholder {
    color: rgb(206, 206, 206);
}

#todo-add input:focus {
    opacity: 1;
}

#todo-add #btn {
    margin-left: 3%;
    opacity: 0.5;
}

#todo-add #btn:hover {
    opacity: 1;
}

#todo-date {
    font-size: 1.6rem;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

#todo-date:hover .btn-cal{
    visibility: visible;
}

.btn-cal {
    position: relative;
    width: 5%;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
    visibility: hidden;
}

.btn-cal:after {
    color: white;
    content: '<';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-weight: bold;
    font-size: 1.8rem;
}
.btn-cal.next:after {
    content: '>';
}
